USE [BaseDeDato]
GO
/****** Object:  User [IIS APPPOOL\APICONSUMO]    Script Date: 1/26/2026 8:13:32 PM ******/
CREATE USER [IIS APPPOOL\APICONSUMO] FOR LOGIN [IIS APPPOOL\APICONSUMO] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\APICONSUMO]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PuedeRegistrarConsumo]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_PuedeRegistrarConsumo](
    @UsuarioId INT,
    @CajaId INT,
    @Fecha DATE
)
RETURNS BIT
AS
BEGIN
    DECLARE @PuedeRegistrar BIT = 1;
    
    -- Verificar si existe un cierre para este usuario/caja/fecha
    IF EXISTS (
        SELECT 1 FROM CierresCaja 
        WHERE UsuarioId = @UsuarioId 
          AND CajaId = @CajaId 
          AND FechaCierre = @Fecha
    )
    BEGIN
        SET @PuedeRegistrar = 0;
    END
    
    RETURN @PuedeRegistrar;
END
GO
/****** Object:  Table [dbo].[CierresCaja]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CierresCaja](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[TiendaId] [int] NOT NULL,
	[CajaId] [int] NOT NULL,
	[FechaCierre] [date] NOT NULL,
	[CerradoUtc] [datetime2](7) NOT NULL,
	[TotalConsumos] [int] NOT NULL,
	[TotalReversos] [int] NOT NULL,
	[MontoConsumos] [decimal](18, 2) NOT NULL,
	[MontoReversos] [decimal](18, 2) NOT NULL,
	[MontoNeto] [decimal](18, 2) NOT NULL,
	[TipoCierre] [varchar](20) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rnc] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Activo] [bit] NOT NULL,
	[PorcentajeComision] [decimal](5, 2) NOT NULL,
	[Contacto] [nvarchar](200) NULL,
	[CreadoUtc] [datetime2](7) NOT NULL,
	[DiasCorte] [int] NULL,
	[Direccion] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
	[Telefono] [nvarchar](50) NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedorTiendas]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedorTiendas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_proveedorTiendas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](200) NOT NULL,
	[RolId] [int] NULL,
	[Activo] [bit] NOT NULL,
	[CreadoUtc] [datetime2](7) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[LockoutEnd] [datetime2](7) NULL,
	[UltimoLoginUtc] [datetime2](7) NULL,
	[ContadorLogins] [int] NULL,
	[UltimaModificacionUtc] [datetime2](7) NULL,
	[RequiereCambioContrasena] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedorCajas]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedorCajas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TiendaId] [int] NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_proveedorCajas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CierresCajaDetalle]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_CierresCajaDetalle] AS
SELECT 
    cc.Id,
    cc.UsuarioId,
    u.Nombre AS UsuarioNombre,
    cc.ProveedorId,
    p.Nombre AS ProveedorNombre,
    cc.TiendaId,
    t.Nombre AS TiendaNombre,
    cc.CajaId,
    c.Nombre AS CajaNombre,
    cc.FechaCierre,
    cc.CerradoUtc,
    cc.TotalConsumos,
    cc.TotalReversos,
    cc.MontoConsumos,
    cc.MontoReversos,
    cc.MontoNeto,
    cc.TipoCierre,
    cc.Observaciones
FROM CierresCaja cc
INNER JOIN Usuarios u ON cc.UsuarioId = u.Id
INNER JOIN Proveedores p ON cc.ProveedorId = p.Id
INNER JOIN ProveedorTiendas t ON cc.TiendaId = t.Id
INNER JOIN ProveedorCajas c ON cc.CajaId = c.Id;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Cedula] [nvarchar](30) NOT NULL,
	[Grupo] [nvarchar](50) NOT NULL,
	[Saldo] [decimal](18, 2) NOT NULL,
	[SaldoOriginal] [decimal](18, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[Contrasena] [nvarchar](255) NULL,
	[RequiereCambioContrasena] [bit] NULL,
	[UltimoLoginUtc] [datetime] NULL,
	[ContadorLoginsFallidos] [int] NULL,
	[BloqueadoHasta] [datetime] NULL,
	[AccesoHabilitado] [bit] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionCortes]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionCortes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[DiaCorte] [int] NOT NULL,
	[DiasGracia] [int] NOT NULL,
	[CorteAutomatico] [bit] NOT NULL,
	[CreadoUtc] [datetime2](7) NOT NULL,
	[ModificadoUtc] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consumos]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[TiendaId] [int] NOT NULL,
	[CajaId] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Nota] [nvarchar](max) NULL,
	[Referencia] [nvarchar](max) NULL,
	[Concepto] [nvarchar](max) NULL,
	[UsuarioRegistradorId] [int] NOT NULL,
	[Reversado] [bit] NOT NULL,
	[ReversadoPorUsuarioId] [int] NULL,
	[ReversadoUtc] [datetime2](7) NULL,
	[MotivoReverso] [nvarchar](500) NULL,
	[MontoNetoProveedor] [decimal](18, 2) NOT NULL,
	[MontoComision] [decimal](18, 2) NOT NULL,
	[PorcentajeComision] [decimal](5, 2) NOT NULL,
	[CxcDocumentoId] [int] NULL,
 CONSTRAINT [PK_Consumos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CortesRealizados]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CortesRealizados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Grupo] [nvarchar](50) NOT NULL,
	[DiaCorte] [int] NOT NULL,
	[FechaRestablecimiento] [datetime2](7) NOT NULL,
	[MontoRestaurado] [decimal](18, 2) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CortesRealizados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CxcDocumentoDetalles]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CxcDocumentoDetalles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CxcDocumentoId] [int] NOT NULL,
	[ConsumoId] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CxcDocumentos]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CxcDocumentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[NumeroDocumento] [nvarchar](20) NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[FechaVencimiento] [datetime2](7) NOT NULL,
	[PeriodoDesde] [datetime2](7) NOT NULL,
	[PeriodoHasta] [datetime2](7) NOT NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
	[MontoPagado] [decimal](18, 2) NOT NULL,
	[MontoPendiente] [decimal](18, 2) NOT NULL,
	[Estado] [int] NOT NULL,
	[Refinanciado] [bit] NOT NULL,
	[FechaRefinanciamiento] [datetime2](7) NULL,
	[Notas] [nvarchar](500) NULL,
	[CreadoUtc] [datetime2](7) NOT NULL,
	[CreadoPorUsuarioId] [int] NULL,
	[Anulado] [bit] NOT NULL,
	[AnuladoUtc] [datetime2](7) NULL,
	[AnuladoPorUsuarioId] [int] NULL,
	[MotivoAnulacion] [nvarchar](500) NULL,
	[CantidadConsumos] [int] NOT NULL,
	[CantidadEmpleados] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CxcMovimiento]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CxcMovimiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CxcId] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Tipo] [nvarchar](20) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Referencia] [nvarchar](200) NULL,
	[MedioPago] [nvarchar](40) NOT NULL,
	[Observacion] [nvarchar](400) NULL,
	[UsuarioId] [int] NULL,
 CONSTRAINT [PK_CxcMovimiento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CxcPagos]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CxcPagos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CxcDocumentoId] [int] NOT NULL,
	[NumeroRecibo] [nvarchar](20) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[MetodoPago] [int] NOT NULL,
	[Referencia] [nvarchar](100) NULL,
	[Banco] [nvarchar](100) NULL,
	[Notas] [nvarchar](500) NULL,
	[Anulado] [bit] NOT NULL,
	[AnuladoUtc] [datetime2](7) NULL,
	[AnuladoPorUsuarioId] [int] NULL,
	[MotivoAnulacion] [nvarchar](500) NULL,
	[CreadoUtc] [datetime2](7) NOT NULL,
	[RegistradoPorUsuarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CxpDocumentoDetalles]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CxpDocumentoDetalles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CxpDocumentoId] [int] NOT NULL,
	[ConsumoId] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[MontoComision] [decimal](18, 2) NOT NULL,
	[MontoBruto] [decimal](18, 2) NOT NULL,
	[MontoNeto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CxpDocumentos]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CxpDocumentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[NumeroDocumento] [nvarchar](20) NOT NULL,
	[NumeroFacturaProveedor] [nvarchar](50) NULL,
	[Tipo] [int] NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[FechaVencimiento] [datetime2](7) NOT NULL,
	[PeriodoDesde] [datetime2](7) NULL,
	[PeriodoHasta] [datetime2](7) NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
	[MontoPagado] [decimal](18, 2) NOT NULL,
	[MontoPendiente] [decimal](18, 2) NOT NULL,
	[Estado] [int] NOT NULL,
	[Concepto] [nvarchar](500) NULL,
	[Notas] [nvarchar](500) NULL,
	[Anulado] [bit] NOT NULL,
	[AnuladoUtc] [datetime2](7) NULL,
	[AnuladoPorUsuarioId] [int] NULL,
	[MotivoAnulacion] [nvarchar](500) NULL,
	[CreadoUtc] [datetime2](7) NOT NULL,
	[CreadoPorUsuarioId] [int] NULL,
	[MontoBruto] [decimal](18, 2) NOT NULL,
	[MontoComision] [decimal](18, 2) NOT NULL,
	[CantidadConsumos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CxpMovimientos]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CxpMovimientos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Tipo] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Debe] [decimal](18, 2) NOT NULL,
	[Haber] [decimal](18, 2) NOT NULL,
	[ConsumoId] [int] NULL,
	[PagoId] [int] NULL,
	[CreadoUtc] [datetime2](7) NOT NULL,
	[ProveedorId1] [int] NOT NULL,
 CONSTRAINT [PK_CxpMovimientos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CxpPagos]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CxpPagos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CxpDocumentoId] [int] NOT NULL,
	[NumeroComprobante] [nvarchar](20) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[MetodoPago] [int] NOT NULL,
	[Referencia] [nvarchar](100) NULL,
	[BancoOrigen] [nvarchar](100) NULL,
	[CuentaDestino] [nvarchar](50) NULL,
	[Notas] [nvarchar](500) NULL,
	[Anulado] [bit] NOT NULL,
	[AnuladoUtc] [datetime2](7) NULL,
	[AnuladoPorUsuarioId] [int] NULL,
	[MotivoAnulacion] [nvarchar](500) NULL,
	[CreadoUtc] [datetime2](7) NOT NULL,
	[RegistradoPorUsuarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rnc] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Telefono] [nvarchar](30) NULL,
	[Email] [nvarchar](120) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Activo] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Limite_Credito] [decimal](18, 2) NOT NULL,
	[DiaCorte] [int] NOT NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosClientes]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosClientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [nvarchar](20) NOT NULL,
	[Grupo] [nvarchar](50) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Nota] [nvarchar](200) NOT NULL,
	[Secuencia] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PagosClientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosProveedor]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosProveedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Metodo] [nvarchar](max) NULL,
	[Referencia] [nvarchar](max) NULL,
	[ProveedorId1] [int] NOT NULL,
 CONSTRAINT [PK_PagosProveedor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Ruta] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProveedorAsignaciones]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedorAsignaciones](
	[ProveedorId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[TiendaId] [int] NULL,
	[CajaId] [int] NULL,
	[Rol] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ProveedorAsignaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefinanciamientoDeudas]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefinanciamientoDeudas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CxcDocumentoId] [int] NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[NumeroRefinanciamiento] [nvarchar](20) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[MontoOriginal] [decimal](18, 2) NOT NULL,
	[MontoPagado] [decimal](18, 2) NOT NULL,
	[MontoPendiente] [decimal](18, 2) NOT NULL,
	[FechaVencimiento] [datetime2](7) NOT NULL,
	[Estado] [int] NOT NULL,
	[Motivo] [nvarchar](500) NULL,
	[Notas] [nvarchar](500) NULL,
	[CreadoUtc] [datetime2](7) NOT NULL,
	[CreadoPorUsuarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefinanciamientoPagos]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefinanciamientoPagos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefinanciamientoId] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[MetodoPago] [int] NOT NULL,
	[Referencia] [nvarchar](100) NULL,
	[Notas] [nvarchar](500) NULL,
	[Anulado] [bit] NOT NULL,
	[CreadoUtc] [datetime2](7) NOT NULL,
	[RegistradoPorUsuarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refinanciamientos]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refinanciamientos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CxcDocumentoId] [int] NOT NULL,
	[MontoRefinanciado] [decimal](18, 2) NOT NULL,
	[MontoPagado] [decimal](18, 2) NOT NULL,
	[MontoPendiente] [decimal](18, 2) NOT NULL,
	[FechaRefinanciamiento] [datetime2](7) NOT NULL,
	[FechaVencimiento] [datetime2](7) NOT NULL,
	[Estado] [int] NOT NULL,
	[Notas] [nvarchar](500) NULL,
	[Anulado] [bit] NOT NULL,
	[AnuladoUtc] [datetime2](7) NULL,
	[AnuladoPorUsuarioId] [int] NULL,
	[MotivoAnulacion] [nvarchar](500) NULL,
	[CreadoUtc] [datetime2](7) NOT NULL,
	[CreadoPorUsuarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesPermisos]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesPermisos](
	[RolId] [int] NOT NULL,
	[PermisoId] [int] NOT NULL,
 CONSTRAINT [PK_RolesPermisos] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC,
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioCliente]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioCliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioEmpresa]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioEmpresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[CreadoUtc] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioProveedor]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioProveedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[RncProveedor] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_UsuarioProveedor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251031093812_Init_ProveedoresV2', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251031100245_Sync_RestrictFKs', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251114210853_AgregarCamposReversado_Consumos', N'9.0.8')
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Codigo], [Nombre], [Cedula], [Grupo], [Saldo], [SaldoOriginal], [Activo], [EmpresaId], [Contrasena], [RequiereCambioContrasena], [UltimoLoginUtc], [ContadorLoginsFallidos], [BloqueadoHasta], [AccesoHabilitado]) VALUES (3, N'CLI001', N'Juan Pérez', N'001-0000000-1', N'Grupo 1', CAST(5000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), 1, 1, NULL, 1, NULL, 0, NULL, 1)
INSERT [dbo].[Clientes] ([Id], [Codigo], [Nombre], [Cedula], [Grupo], [Saldo], [SaldoOriginal], [Activo], [EmpresaId], [Contrasena], [RequiereCambioContrasena], [UltimoLoginUtc], [ContadorLoginsFallidos], [BloqueadoHasta], [AccesoHabilitado]) VALUES (4, N'CLI002', N'María López', N'001-0000000-2', N'Grupo 1', CAST(3000.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), 1, 1, NULL, 1, NULL, 0, NULL, 1)
INSERT [dbo].[Clientes] ([Id], [Codigo], [Nombre], [Cedula], [Grupo], [Saldo], [SaldoOriginal], [Activo], [EmpresaId], [Contrasena], [RequiereCambioContrasena], [UltimoLoginUtc], [ContadorLoginsFallidos], [BloqueadoHasta], [AccesoHabilitado]) VALUES (5, N'CL002', N'Lucas Chenco', N'001-0010010-1', N'Grupo 1', CAST(100.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), 1, 1, N'$2a$11$EjK4z30ksz4DkEPSrLYKNuC/WodoJJzDrXg/VfcIliaNHbkIR2Emy', 0, CAST(N'2026-01-26T21:10:32.517' AS DateTime), 0, NULL, 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Consumos] ON 

INSERT [dbo].[Consumos] ([Id], [Fecha], [ClienteId], [EmpresaId], [ProveedorId], [TiendaId], [CajaId], [Monto], [Nota], [Referencia], [Concepto], [UsuarioRegistradorId], [Reversado], [ReversadoPorUsuarioId], [ReversadoUtc], [MotivoReverso], [MontoNetoProveedor], [MontoComision], [PorcentajeComision], [CxcDocumentoId]) VALUES (1, CAST(N'2025-11-01T10:51:48.1711313' AS DateTime2), 3, 1, 2, 3, 4, CAST(250.00 AS Decimal(18, 2)), N'Compra de prueba', NULL, NULL, 4, 0, NULL, NULL, NULL, CAST(250.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[Consumos] ([Id], [Fecha], [ClienteId], [EmpresaId], [ProveedorId], [TiendaId], [CajaId], [Monto], [Nota], [Referencia], [Concepto], [UsuarioRegistradorId], [Reversado], [ReversadoPorUsuarioId], [ReversadoUtc], [MotivoReverso], [MontoNetoProveedor], [MontoComision], [PorcentajeComision], [CxcDocumentoId]) VALUES (2, CAST(N'2025-11-19T10:04:35.7542195' AS DateTime2), 5, 1, 1, 4, 8, CAST(95.00 AS Decimal(18, 2)), N'prueba', NULL, NULL, 5, 0, NULL, NULL, NULL, CAST(95.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[Consumos] ([Id], [Fecha], [ClienteId], [EmpresaId], [ProveedorId], [TiendaId], [CajaId], [Monto], [Nota], [Referencia], [Concepto], [UsuarioRegistradorId], [Reversado], [ReversadoPorUsuarioId], [ReversadoUtc], [MotivoReverso], [MontoNetoProveedor], [MontoComision], [PorcentajeComision], [CxcDocumentoId]) VALUES (3, CAST(N'2025-11-19T21:15:32.5600746' AS DateTime2), 5, 1, 1, 4, 8, CAST(80.00 AS Decimal(18, 2)), NULL, NULL, NULL, 5, 0, NULL, NULL, NULL, CAST(80.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 1)
SET IDENTITY_INSERT [dbo].[Consumos] OFF
GO
SET IDENTITY_INSERT [dbo].[CxcDocumentoDetalles] ON 

INSERT [dbo].[CxcDocumentoDetalles] ([Id], [CxcDocumentoId], [ConsumoId], [Monto]) VALUES (1, 1, 1, CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[CxcDocumentoDetalles] ([Id], [CxcDocumentoId], [ConsumoId], [Monto]) VALUES (2, 1, 2, CAST(95.00 AS Decimal(18, 2)))
INSERT [dbo].[CxcDocumentoDetalles] ([Id], [CxcDocumentoId], [ConsumoId], [Monto]) VALUES (3, 1, 3, CAST(80.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CxcDocumentoDetalles] OFF
GO
SET IDENTITY_INSERT [dbo].[CxcDocumentos] ON 

SET IDENTITY_INSERT [dbo].[CxcDocumentos] OFF
GO
SET IDENTITY_INSERT [dbo].[CxcPagos] ON 

INSERT [dbo].[CxcPagos] ([Id], [CxcDocumentoId], [NumeroRecibo], [Fecha], [Monto], [MetodoPago], [Referencia], [Banco], [Notas], [Anulado], [AnuladoUtc], [AnuladoPorUsuarioId], [MotivoAnulacion], [CreadoUtc], [RegistradoPorUsuarioId]) VALUES (1, 1, N'REC-2025-00001', CAST(N'2025-12-04T09:40:29.8102195' AS DateTime2), CAST(460.00 AS Decimal(18, 2)), 5, N'12', N'Popular', NULL, 0, NULL, NULL, NULL, CAST(N'2025-12-04T09:40:29.8102233' AS DateTime2), 1)
INSERT [dbo].[CxcPagos] ([Id], [CxcDocumentoId], [NumeroRecibo], [Fecha], [Monto], [MetodoPago], [Referencia], [Banco], [Notas], [Anulado], [AnuladoUtc], [AnuladoPorUsuarioId], [MotivoAnulacion], [CreadoUtc], [RegistradoPorUsuarioId]) VALUES (2, 3, N'REC-2025-00002', CAST(N'2025-12-13T03:03:22.7743644' AS DateTime2), CAST(16536.00 AS Decimal(18, 2)), 0, N'123', NULL, N'qweqwe', 0, NULL, NULL, NULL, CAST(N'2025-12-13T03:03:22.7743669' AS DateTime2), 1)
INSERT [dbo].[CxcPagos] ([Id], [CxcDocumentoId], [NumeroRecibo], [Fecha], [Monto], [MetodoPago], [Referencia], [Banco], [Notas], [Anulado], [AnuladoUtc], [AnuladoPorUsuarioId], [MotivoAnulacion], [CreadoUtc], [RegistradoPorUsuarioId]) VALUES (3, 4, N'REC-2025-00003', CAST(N'2025-12-15T09:54:28.3530608' AS DateTime2), CAST(23.00 AS Decimal(18, 2)), 1, NULL, NULL, NULL, 0, NULL, NULL, NULL, CAST(N'2025-12-15T09:54:28.3530630' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[CxcPagos] OFF
GO
SET IDENTITY_INSERT [dbo].[CxpDocumentoDetalles] ON 

INSERT [dbo].[CxpDocumentoDetalles] ([Id], [CxpDocumentoId], [ConsumoId], [Monto], [MontoComision], [MontoBruto], [MontoNeto]) VALUES (1, 1, 1, CAST(250.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[CxpDocumentoDetalles] ([Id], [CxpDocumentoId], [ConsumoId], [Monto], [MontoComision], [MontoBruto], [MontoNeto]) VALUES (2, 1, 4, CAST(35.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(35.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[CxpDocumentoDetalles] ([Id], [CxpDocumentoId], [ConsumoId], [Monto], [MontoComision], [MontoBruto], [MontoNeto]) VALUES (3, 2, 2, CAST(95.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(95.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CxpDocumentoDetalles] OFF
GO
SET IDENTITY_INSERT [dbo].[CxpDocumentos] ON 

SET IDENTITY_INSERT [dbo].[CxpDocumentos] OFF
GO
SET IDENTITY_INSERT [dbo].[CxpPagos] ON 

INSERT [dbo].[CxpPagos] ([Id], [CxpDocumentoId], [NumeroComprobante], [Fecha], [Monto], [MetodoPago], [Referencia], [BancoOrigen], [CuentaDestino], [Notas], [Anulado], [AnuladoUtc], [AnuladoPorUsuarioId], [MotivoAnulacion], [CreadoUtc], [RegistradoPorUsuarioId]) VALUES (1, 2, N'PAG-2025-00001', CAST(N'2025-12-04T09:42:13.6064460' AS DateTime2), CAST(175.00 AS Decimal(18, 2)), 5, N'11', NULL, NULL, NULL, 0, NULL, NULL, NULL, CAST(N'2025-12-04T09:42:13.6052445' AS DateTime2), 1)
INSERT [dbo].[CxpPagos] ([Id], [CxpDocumentoId], [NumeroComprobante], [Fecha], [Monto], [MetodoPago], [Referencia], [BancoOrigen], [CuentaDestino], [Notas], [Anulado], [AnuladoUtc], [AnuladoPorUsuarioId], [MotivoAnulacion], [CreadoUtc], [RegistradoPorUsuarioId]) VALUES (2, 1, N'PAG-2025-00002', CAST(N'2025-12-04T20:35:36.5755871' AS DateTime2), CAST(285.00 AS Decimal(18, 2)), 1, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, CAST(N'2025-12-04T20:35:36.5754294' AS DateTime2), 1)
INSERT [dbo].[CxpPagos] ([Id], [CxpDocumentoId], [NumeroComprobante], [Fecha], [Monto], [MetodoPago], [Referencia], [BancoOrigen], [CuentaDestino], [Notas], [Anulado], [AnuladoUtc], [AnuladoPorUsuarioId], [MotivoAnulacion], [CreadoUtc], [RegistradoPorUsuarioId]) VALUES (3, 4, N'PAG-2025-00003', CAST(N'2025-12-13T03:10:43.2754710' AS DateTime2), CAST(6000.00 AS Decimal(18, 2)), 1, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, CAST(N'2025-12-13T03:10:43.2751146' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[CxpPagos] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresas] ON 

INSERT [dbo].[Empresas] ([Id], [Rnc], [Nombre], [Telefono], [Email], [Direccion], [Activo], [CreatedAt], [Limite_Credito], [DiaCorte]) VALUES (1, N'101-01010-1', N'Farmacia Central', N'809-000-0000', N'FarmaciaCentral@hotmail.com', N'Av. Duarte #100', 1, CAST(N'2025-10-31T10:23:51.9432822' AS DateTime2), CAST(10000.00 AS Decimal(18, 2)), 13)
INSERT [dbo].[Empresas] ([Id], [Rnc], [Nombre], [Telefono], [Email], [Direccion], [Activo], [CreatedAt], [Limite_Credito], [DiaCorte]) VALUES (2, N'001-00000-5', N'Ferreteria Camilo', N'809-222-3333', N'ferreteriacamilo@gmail.com', N'calle 3 esquina calle 7', 1, CAST(N'2025-12-04T05:52:45.2064380' AS DateTime2), CAST(1000000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Empresas] ([Id], [Rnc], [Nombre], [Telefono], [Email], [Direccion], [Activo], [CreatedAt], [Limite_Credito], [DiaCorte]) VALUES (3, N'101010101', N'Farmacia Central', N'8095550000', NULL, N'Av. Duarte #100', 1, CAST(N'2026-01-05T23:01:48.5232466' AS DateTime2), CAST(10000.00 AS Decimal(18, 2)), 15)
SET IDENTITY_INSERT [dbo].[Empresas] OFF
GO
SET IDENTITY_INSERT [dbo].[Permisos] ON 

INSERT [dbo].[Permisos] ([Id], [Codigo], [Nombre], [Ruta]) VALUES (1, N'buscar_cliente', N'Buscar Cliente (API)', N'/buscar_cliente')
INSERT [dbo].[Permisos] ([Id], [Codigo], [Nombre], [Ruta]) VALUES (2, N'registrar_consumo', N'Registrar Consumo (POST)', N'/registrar_consumo')
INSERT [dbo].[Permisos] ([Id], [Codigo], [Nombre], [Ruta]) VALUES (3, N'consumos_ver', N'Ver Consumos', N'/consumos')
SET IDENTITY_INSERT [dbo].[Permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[ProveedorAsignaciones] ON 

INSERT [dbo].[ProveedorAsignaciones] ([ProveedorId], [UsuarioId], [TiendaId], [CajaId], [Rol], [Activo], [Id]) VALUES (1, 2, 1, 1, N'cajero', 1, 1)
INSERT [dbo].[ProveedorAsignaciones] ([ProveedorId], [UsuarioId], [TiendaId], [CajaId], [Rol], [Activo], [Id]) VALUES (1, 3, 2, 3, N'cajero', 1, 2)
INSERT [dbo].[ProveedorAsignaciones] ([ProveedorId], [UsuarioId], [TiendaId], [CajaId], [Rol], [Activo], [Id]) VALUES (1, 4, 1, 1, N'usuario', 0, 3)
SET IDENTITY_INSERT [dbo].[ProveedorAsignaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[proveedorCajas] ON 

INSERT [dbo].[proveedorCajas] ([Id], [TiendaId], [Nombre], [Activo]) VALUES (1, 1, N'Caja 1 - Central', 1)
INSERT [dbo].[proveedorCajas] ([Id], [TiendaId], [Nombre], [Activo]) VALUES (2, 1, N'Caja 2 - Central', 1)
INSERT [dbo].[proveedorCajas] ([Id], [TiendaId], [Nombre], [Activo]) VALUES (3, 2, N'Caja 1 - Norte', 1)
SET IDENTITY_INSERT [dbo].[proveedorCajas] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([Id], [Rnc], [Nombre], [Activo], [PorcentajeComision], [Contacto], [CreadoUtc], [DiasCorte], [Direccion], [Email], [Telefono]) VALUES (1, N'123456789', N'Comercial La Fuente SRL', 1, CAST(0.70 AS Decimal(5, 2)), N'Katerine Burgos', CAST(N'2025-12-17T10:43:24.8966667' AS DateTime2), 29, N'calle las flores No. 71', N'lafuente@hotmail.com', N'809 543 9876')
INSERT [dbo].[Proveedores] ([Id], [Rnc], [Nombre], [Activo], [PorcentajeComision], [Contacto], [CreadoUtc], [DiasCorte], [Direccion], [Email], [Telefono]) VALUES (2, N'123454321', N'Colmado La Esquina', 1, CAST(2.00 AS Decimal(5, 2)), NULL, CAST(N'2025-12-17T10:43:24.8966667' AS DateTime2), 15, NULL, NULL, NULL)
INSERT [dbo].[Proveedores] ([Id], [Rnc], [Nombre], [Activo], [PorcentajeComision], [Contacto], [CreadoUtc], [DiasCorte], [Direccion], [Email], [Telefono]) VALUES (5, N'019283746', N'La Chercha Bar', 1, CAST(0.90 AS Decimal(5, 2)), N'Josefina', CAST(N'2025-12-18T10:21:08.8390509' AS DateTime2), 15, N'calle Eduardo Perez No.3', N'lachercha@gmail.com', N'8090987654')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[proveedorTiendas] ON 

INSERT [dbo].[proveedorTiendas] ([Id], [ProveedorId], [Nombre], [Activo]) VALUES (1, 1, N'Sucursal Central', 1)
INSERT [dbo].[proveedorTiendas] ([Id], [ProveedorId], [Nombre], [Activo]) VALUES (2, 1, N'Sucursal Norte', 1)
INSERT [dbo].[proveedorTiendas] ([Id], [ProveedorId], [Nombre], [Activo]) VALUES (3, 2, N'Sucursal Principal', 1)
SET IDENTITY_INSERT [dbo].[proveedorTiendas] OFF
GO
SET IDENTITY_INSERT [dbo].[RefinanciamientoDeudas] ON 

INSERT [dbo].[RefinanciamientoDeudas] ([Id], [CxcDocumentoId], [EmpresaId], [NumeroRefinanciamiento], [Fecha], [MontoOriginal], [MontoPagado], [MontoPendiente], [FechaVencimiento], [Estado], [Motivo], [Notas], [CreadoUtc], [CreadoPorUsuarioId]) VALUES (1, 2, 2, N'REF-2025-00001', CAST(N'2025-12-04T10:06:48.8045879' AS DateTime2), CAST(3285.00 AS Decimal(18, 2)), CAST(3285.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 2, NULL, NULL, CAST(N'2025-12-04T10:06:48.8045933' AS DateTime2), 1)
INSERT [dbo].[RefinanciamientoDeudas] ([Id], [CxcDocumentoId], [EmpresaId], [NumeroRefinanciamiento], [Fecha], [MontoOriginal], [MontoPagado], [MontoPendiente], [FechaVencimiento], [Estado], [Motivo], [Notas], [CreadoUtc], [CreadoPorUsuarioId]) VALUES (2, 5, 2, N'REF-2025-00002', CAST(N'2025-12-16T10:12:35.7831001' AS DateTime2), CAST(345.00 AS Decimal(18, 2)), CAST(345.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 2, NULL, NULL, CAST(N'2025-12-16T10:12:35.7831135' AS DateTime2), 1)
INSERT [dbo].[RefinanciamientoDeudas] ([Id], [CxcDocumentoId], [EmpresaId], [NumeroRefinanciamiento], [Fecha], [MontoOriginal], [MontoPagado], [MontoPendiente], [FechaVencimiento], [Estado], [Motivo], [Notas], [CreadoUtc], [CreadoPorUsuarioId]) VALUES (3, 7, 2, N'REF-2025-00003', CAST(N'2025-12-17T01:28:28.0551536' AS DateTime2), CAST(12000.00 AS Decimal(18, 2)), CAST(12000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 2, NULL, NULL, CAST(N'2025-12-17T01:28:28.0551557' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[RefinanciamientoDeudas] OFF
GO
SET IDENTITY_INSERT [dbo].[RefinanciamientoPagos] ON 

INSERT [dbo].[RefinanciamientoPagos] ([Id], [RefinanciamientoId], [Fecha], [Monto], [MetodoPago], [Referencia], [Notas], [Anulado], [CreadoUtc], [RegistradoPorUsuarioId]) VALUES (1, 1, CAST(N'2025-12-13T03:05:44.2681720' AS DateTime2), CAST(3285.00 AS Decimal(18, 2)), 1, N'123', N'123123', 0, CAST(N'2025-12-13T03:05:44.2681759' AS DateTime2), 1)
INSERT [dbo].[RefinanciamientoPagos] ([Id], [RefinanciamientoId], [Fecha], [Monto], [MetodoPago], [Referencia], [Notas], [Anulado], [CreadoUtc], [RegistradoPorUsuarioId]) VALUES (2, 2, CAST(N'2025-12-16T10:14:02.2536872' AS DateTime2), CAST(345.00 AS Decimal(18, 2)), 1, N'qwe', N'cobrado desde refinanciamiento', 0, CAST(N'2025-12-16T10:14:02.2536893' AS DateTime2), 1)
INSERT [dbo].[RefinanciamientoPagos] ([Id], [RefinanciamientoId], [Fecha], [Monto], [MetodoPago], [Referencia], [Notas], [Anulado], [CreadoUtc], [RegistradoPorUsuarioId]) VALUES (3, 3, CAST(N'2026-01-03T23:59:33.5250889' AS DateTime2), CAST(12000.00 AS Decimal(18, 2)), 1, NULL, NULL, 0, CAST(N'2026-01-03T23:59:33.5252810' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[RefinanciamientoPagos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Nombre], [Descripcion]) VALUES (1, N'administrador', N'Control total')
INSERT [dbo].[Roles] ([Id], [Nombre], [Descripcion]) VALUES (2, N'usuario', N'Operación')
INSERT [dbo].[Roles] ([Id], [Nombre], [Descripcion]) VALUES (3, N'contabilidad', N'Contabilidad')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[RolesPermisos] ([RolId], [PermisoId]) VALUES (1, 1)
INSERT [dbo].[RolesPermisos] ([RolId], [PermisoId]) VALUES (1, 2)
INSERT [dbo].[RolesPermisos] ([RolId], [PermisoId]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[UsuarioEmpresa] ON 

INSERT [dbo].[UsuarioEmpresa] ([Id], [UsuarioId], [EmpresaId], [CreadoUtc]) VALUES (1, 13, 1, CAST(N'2026-01-12T10:47:14.8900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UsuarioEmpresa] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuarioProveedor] ON 

INSERT [dbo].[UsuarioProveedor] ([Id], [UsuarioId], [RncProveedor]) VALUES (1, 14, N'123456789')
SET IDENTITY_INSERT [dbo].[UsuarioProveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Contrasena], [RolId], [Activo], [CreadoUtc], [AccessFailedCount], [LockoutEnd], [UltimoLoginUtc], [ContadorLogins], [UltimaModificacionUtc], [RequiereCambioContrasena]) VALUES (1, N'admin', N'PBKDF2|100000|auKm60our+gJ1BmmJdK/Ew==|GPNbxwklKj0YWsmOoF+dCgd0YudIvGsY8ha4uW3yhGE=', 1, 1, CAST(N'2025-10-31T10:03:55.0947852' AS DateTime2), 0, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Contrasena], [RolId], [Activo], [CreadoUtc], [AccessFailedCount], [LockoutEnd], [UltimoLoginUtc], [ContadorLogins], [UltimaModificacionUtc], [RequiereCambioContrasena]) VALUES (2, N'cajero_central', N'PBKDF2|100000|9IOXatGycAIsCxVP09Nv9g==|Bh2RR2Y1ggjWR0cKEbCHoLANEadqbWzBvBxRZPrl86g=', 2, 1, CAST(N'2025-10-31T10:03:55.7629230' AS DateTime2), 0, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Contrasena], [RolId], [Activo], [CreadoUtc], [AccessFailedCount], [LockoutEnd], [UltimoLoginUtc], [ContadorLogins], [UltimaModificacionUtc], [RequiereCambioContrasena]) VALUES (3, N'cajero_norte', N'1234', 2, 1, CAST(N'2025-10-31T10:03:55.7629258' AS DateTime2), 1, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [UQ_CierresCaja_Usuario_Fecha_Caja]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[CierresCaja] ADD  CONSTRAINT [UQ_CierresCaja_Usuario_Fecha_Caja] UNIQUE NONCLUSTERED 
(
	[UsuarioId] ASC,
	[FechaCierre] ASC,
	[CajaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Clientes_Codigo]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [AK_Clientes_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ConfiguracionCortes_Empresa]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[ConfiguracionCortes] ADD  CONSTRAINT [UQ_ConfiguracionCortes_Empresa] UNIQUE NONCLUSTERED 
(
	[EmpresaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CxcDocumentoDetalles_Consumo]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[CxcDocumentoDetalles] ADD  CONSTRAINT [UQ_CxcDocumentoDetalles_Consumo] UNIQUE NONCLUSTERED 
(
	[ConsumoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CxcDocumentos_NumeroDocumento]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[CxcDocumentos] ADD  CONSTRAINT [UQ_CxcDocumentos_NumeroDocumento] UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CxcPagos_NumeroRecibo]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[CxcPagos] ADD  CONSTRAINT [UQ_CxcPagos_NumeroRecibo] UNIQUE NONCLUSTERED 
(
	[NumeroRecibo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CxpDocumentos_NumeroDocumento]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[CxpDocumentos] ADD  CONSTRAINT [UQ_CxpDocumentos_NumeroDocumento] UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CxpPagos_NumeroComprobante]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[CxpPagos] ADD  CONSTRAINT [UQ_CxpPagos_NumeroComprobante] UNIQUE NONCLUSTERED 
(
	[NumeroComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Proveedores_Rnc]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[Proveedores] ADD  CONSTRAINT [AK_Proveedores_Rnc] UNIQUE NONCLUSTERED 
(
	[Rnc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RefinanciamientoDeudas_CxcDocumento]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[RefinanciamientoDeudas] ADD  CONSTRAINT [UQ_RefinanciamientoDeudas_CxcDocumento] UNIQUE NONCLUSTERED 
(
	[CxcDocumentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_RefinanciamientoDeudas_Numero]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[RefinanciamientoDeudas] ADD  CONSTRAINT [UQ_RefinanciamientoDeudas_Numero] UNIQUE NONCLUSTERED 
(
	[NumeroRefinanciamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UsuarioCliente]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[UsuarioCliente] ADD  CONSTRAINT [UQ_UsuarioCliente] UNIQUE NONCLUSTERED 
(
	[UsuarioId] ASC,
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UsuarioEmpresa]    Script Date: 1/26/2026 8:13:33 PM ******/
ALTER TABLE [dbo].[UsuarioEmpresa] ADD  CONSTRAINT [UQ_UsuarioEmpresa] UNIQUE NONCLUSTERED 
(
	[UsuarioId] ASC,
	[EmpresaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CierresCaja] ADD  DEFAULT (getutcdate()) FOR [CerradoUtc]
GO
ALTER TABLE [dbo].[CierresCaja] ADD  DEFAULT ((0)) FOR [TotalConsumos]
GO
ALTER TABLE [dbo].[CierresCaja] ADD  DEFAULT ((0)) FOR [TotalReversos]
GO
ALTER TABLE [dbo].[CierresCaja] ADD  DEFAULT ((0)) FOR [MontoConsumos]
GO
ALTER TABLE [dbo].[CierresCaja] ADD  DEFAULT ((0)) FOR [MontoReversos]
GO
ALTER TABLE [dbo].[CierresCaja] ADD  DEFAULT ((0)) FOR [MontoNeto]
GO
ALTER TABLE [dbo].[CierresCaja] ADD  DEFAULT ('MANUAL') FOR [TipoCierre]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [RequiereCambioContrasena]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((0)) FOR [ContadorLoginsFallidos]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [AccesoHabilitado]
GO
ALTER TABLE [dbo].[ConfiguracionCortes] ADD  DEFAULT ((1)) FOR [DiaCorte]
GO
ALTER TABLE [dbo].[ConfiguracionCortes] ADD  DEFAULT ((5)) FOR [DiasGracia]
GO
ALTER TABLE [dbo].[ConfiguracionCortes] ADD  DEFAULT ((1)) FOR [CorteAutomatico]
GO
ALTER TABLE [dbo].[ConfiguracionCortes] ADD  DEFAULT (getutcdate()) FOR [CreadoUtc]
GO
ALTER TABLE [dbo].[Consumos] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Reversado]
GO
ALTER TABLE [dbo].[Consumos] ADD  DEFAULT ((0)) FOR [MontoNetoProveedor]
GO
ALTER TABLE [dbo].[Consumos] ADD  DEFAULT ((0)) FOR [MontoComision]
GO
ALTER TABLE [dbo].[Consumos] ADD  DEFAULT ((0)) FOR [PorcentajeComision]
GO
ALTER TABLE [dbo].[CxcDocumentos] ADD  DEFAULT (getutcdate()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[CxcDocumentos] ADD  DEFAULT ((0)) FOR [MontoPagado]
GO
ALTER TABLE [dbo].[CxcDocumentos] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[CxcDocumentos] ADD  DEFAULT ((0)) FOR [Refinanciado]
GO
ALTER TABLE [dbo].[CxcDocumentos] ADD  DEFAULT (getutcdate()) FOR [CreadoUtc]
GO
ALTER TABLE [dbo].[CxcDocumentos] ADD  DEFAULT ((0)) FOR [Anulado]
GO
ALTER TABLE [dbo].[CxcDocumentos] ADD  DEFAULT ((0)) FOR [CantidadConsumos]
GO
ALTER TABLE [dbo].[CxcDocumentos] ADD  DEFAULT ((0)) FOR [CantidadEmpleados]
GO
ALTER TABLE [dbo].[CxcPagos] ADD  DEFAULT (getutcdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[CxcPagos] ADD  DEFAULT ((1)) FOR [MetodoPago]
GO
ALTER TABLE [dbo].[CxcPagos] ADD  DEFAULT ((0)) FOR [Anulado]
GO
ALTER TABLE [dbo].[CxcPagos] ADD  DEFAULT (getutcdate()) FOR [CreadoUtc]
GO
ALTER TABLE [dbo].[CxpDocumentoDetalles] ADD  DEFAULT ((0)) FOR [MontoComision]
GO
ALTER TABLE [dbo].[CxpDocumentoDetalles] ADD  DEFAULT ((0)) FOR [MontoBruto]
GO
ALTER TABLE [dbo].[CxpDocumentoDetalles] ADD  DEFAULT ((0)) FOR [MontoNeto]
GO
ALTER TABLE [dbo].[CxpDocumentos] ADD  DEFAULT ((0)) FOR [Tipo]
GO
ALTER TABLE [dbo].[CxpDocumentos] ADD  DEFAULT (getutcdate()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[CxpDocumentos] ADD  DEFAULT ((0)) FOR [MontoPagado]
GO
ALTER TABLE [dbo].[CxpDocumentos] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[CxpDocumentos] ADD  DEFAULT ((0)) FOR [Anulado]
GO
ALTER TABLE [dbo].[CxpDocumentos] ADD  DEFAULT (getutcdate()) FOR [CreadoUtc]
GO
ALTER TABLE [dbo].[CxpDocumentos] ADD  DEFAULT ((0)) FOR [MontoBruto]
GO
ALTER TABLE [dbo].[CxpDocumentos] ADD  DEFAULT ((0)) FOR [MontoComision]
GO
ALTER TABLE [dbo].[CxpDocumentos] ADD  DEFAULT ((0)) FOR [CantidadConsumos]
GO
ALTER TABLE [dbo].[CxpPagos] ADD  DEFAULT (getutcdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[CxpPagos] ADD  DEFAULT ((1)) FOR [MetodoPago]
GO
ALTER TABLE [dbo].[CxpPagos] ADD  DEFAULT ((0)) FOR [Anulado]
GO
ALTER TABLE [dbo].[CxpPagos] ADD  DEFAULT (getutcdate()) FOR [CreadoUtc]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((1)) FOR [DiaCorte]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((0)) FOR [PorcentajeComision]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT (getutcdate()) FOR [CreadoUtc]
GO
ALTER TABLE [dbo].[RefinanciamientoDeudas] ADD  DEFAULT (getutcdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[RefinanciamientoDeudas] ADD  DEFAULT ((0)) FOR [MontoPagado]
GO
ALTER TABLE [dbo].[RefinanciamientoDeudas] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[RefinanciamientoDeudas] ADD  DEFAULT (getutcdate()) FOR [CreadoUtc]
GO
ALTER TABLE [dbo].[RefinanciamientoPagos] ADD  DEFAULT (getutcdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[RefinanciamientoPagos] ADD  DEFAULT ((1)) FOR [MetodoPago]
GO
ALTER TABLE [dbo].[RefinanciamientoPagos] ADD  DEFAULT ((0)) FOR [Anulado]
GO
ALTER TABLE [dbo].[RefinanciamientoPagos] ADD  DEFAULT (getutcdate()) FOR [CreadoUtc]
GO
ALTER TABLE [dbo].[Refinanciamientos] ADD  DEFAULT ((0)) FOR [MontoPagado]
GO
ALTER TABLE [dbo].[Refinanciamientos] ADD  DEFAULT (getutcdate()) FOR [FechaRefinanciamiento]
GO
ALTER TABLE [dbo].[Refinanciamientos] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Refinanciamientos] ADD  DEFAULT ((0)) FOR [Anulado]
GO
ALTER TABLE [dbo].[Refinanciamientos] ADD  DEFAULT (getutcdate()) FOR [CreadoUtc]
GO
ALTER TABLE [dbo].[UsuarioCliente] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[UsuarioEmpresa] ADD  DEFAULT (getutcdate()) FOR [CreadoUtc]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getutcdate()) FOR [CreadoUtc]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [ContadorLogins]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [RequiereCambioContrasena]
GO
ALTER TABLE [dbo].[CierresCaja]  WITH CHECK ADD  CONSTRAINT [FK_CierresCaja_Caja] FOREIGN KEY([CajaId])
REFERENCES [dbo].[proveedorCajas] ([Id])
GO
ALTER TABLE [dbo].[CierresCaja] CHECK CONSTRAINT [FK_CierresCaja_Caja]
GO
ALTER TABLE [dbo].[CierresCaja]  WITH CHECK ADD  CONSTRAINT [FK_CierresCaja_Proveedor] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[CierresCaja] CHECK CONSTRAINT [FK_CierresCaja_Proveedor]
GO
ALTER TABLE [dbo].[CierresCaja]  WITH CHECK ADD  CONSTRAINT [FK_CierresCaja_Tienda] FOREIGN KEY([TiendaId])
REFERENCES [dbo].[proveedorTiendas] ([Id])
GO
ALTER TABLE [dbo].[CierresCaja] CHECK CONSTRAINT [FK_CierresCaja_Tienda]
GO
ALTER TABLE [dbo].[CierresCaja]  WITH CHECK ADD  CONSTRAINT [FK_CierresCaja_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[CierresCaja] CHECK CONSTRAINT [FK_CierresCaja_Usuario]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Empresas_EmpresaId] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Empresas_EmpresaId]
GO
ALTER TABLE [dbo].[ConfiguracionCortes]  WITH CHECK ADD  CONSTRAINT [FK_ConfiguracionCortes_Empresa] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[ConfiguracionCortes] CHECK CONSTRAINT [FK_ConfiguracionCortes_Empresa]
GO
ALTER TABLE [dbo].[Consumos]  WITH CHECK ADD  CONSTRAINT [FK_Consumos_Clientes_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Consumos] CHECK CONSTRAINT [FK_Consumos_Clientes_ClienteId]
GO
ALTER TABLE [dbo].[Consumos]  WITH CHECK ADD  CONSTRAINT [FK_Consumos_CxcDocumentos] FOREIGN KEY([CxcDocumentoId])
REFERENCES [dbo].[CxcDocumentos] ([Id])
GO
ALTER TABLE [dbo].[Consumos] CHECK CONSTRAINT [FK_Consumos_CxcDocumentos]
GO
ALTER TABLE [dbo].[Consumos]  WITH CHECK ADD  CONSTRAINT [FK_Consumos_proveedorCajas_CajaId] FOREIGN KEY([CajaId])
REFERENCES [dbo].[proveedorCajas] ([Id])
GO
ALTER TABLE [dbo].[Consumos] CHECK CONSTRAINT [FK_Consumos_proveedorCajas_CajaId]
GO
ALTER TABLE [dbo].[Consumos]  WITH CHECK ADD  CONSTRAINT [FK_Consumos_Proveedores_ProveedorId] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[Consumos] CHECK CONSTRAINT [FK_Consumos_Proveedores_ProveedorId]
GO
ALTER TABLE [dbo].[Consumos]  WITH CHECK ADD  CONSTRAINT [FK_Consumos_proveedorTiendas_TiendaId] FOREIGN KEY([TiendaId])
REFERENCES [dbo].[proveedorTiendas] ([Id])
GO
ALTER TABLE [dbo].[Consumos] CHECK CONSTRAINT [FK_Consumos_proveedorTiendas_TiendaId]
GO
ALTER TABLE [dbo].[Consumos]  WITH CHECK ADD  CONSTRAINT [FK_Consumos_Usuarios_UsuarioRegistradorId] FOREIGN KEY([UsuarioRegistradorId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Consumos] CHECK CONSTRAINT [FK_Consumos_Usuarios_UsuarioRegistradorId]
GO
ALTER TABLE [dbo].[CortesRealizados]  WITH CHECK ADD  CONSTRAINT [FK_CortesRealizados_Clientes_IdCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[CortesRealizados] CHECK CONSTRAINT [FK_CortesRealizados_Clientes_IdCliente]
GO
ALTER TABLE [dbo].[CxcDocumentoDetalles]  WITH CHECK ADD  CONSTRAINT [FK_CxcDocumentoDetalles_Consumo] FOREIGN KEY([ConsumoId])
REFERENCES [dbo].[Consumos] ([Id])
GO
ALTER TABLE [dbo].[CxcDocumentoDetalles] CHECK CONSTRAINT [FK_CxcDocumentoDetalles_Consumo]
GO
ALTER TABLE [dbo].[CxcDocumentoDetalles]  WITH CHECK ADD  CONSTRAINT [FK_CxcDocumentoDetalles_CxcDocumento] FOREIGN KEY([CxcDocumentoId])
REFERENCES [dbo].[CxcDocumentos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CxcDocumentoDetalles] CHECK CONSTRAINT [FK_CxcDocumentoDetalles_CxcDocumento]
GO
ALTER TABLE [dbo].[CxcDocumentos]  WITH CHECK ADD  CONSTRAINT [FK_CxcDocumentos_CreadoPor] FOREIGN KEY([CreadoPorUsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[CxcDocumentos] CHECK CONSTRAINT [FK_CxcDocumentos_CreadoPor]
GO
ALTER TABLE [dbo].[CxcDocumentos]  WITH CHECK ADD  CONSTRAINT [FK_CxcDocumentos_Empresa] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[CxcDocumentos] CHECK CONSTRAINT [FK_CxcDocumentos_Empresa]
GO
ALTER TABLE [dbo].[CxcPagos]  WITH CHECK ADD  CONSTRAINT [FK_CxcPagos_AnuladoPor] FOREIGN KEY([AnuladoPorUsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[CxcPagos] CHECK CONSTRAINT [FK_CxcPagos_AnuladoPor]
GO
ALTER TABLE [dbo].[CxcPagos]  WITH CHECK ADD  CONSTRAINT [FK_CxcPagos_CxcDocumento] FOREIGN KEY([CxcDocumentoId])
REFERENCES [dbo].[CxcDocumentos] ([Id])
GO
ALTER TABLE [dbo].[CxcPagos] CHECK CONSTRAINT [FK_CxcPagos_CxcDocumento]
GO
ALTER TABLE [dbo].[CxcPagos]  WITH CHECK ADD  CONSTRAINT [FK_CxcPagos_RegistradoPor] FOREIGN KEY([RegistradoPorUsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[CxcPagos] CHECK CONSTRAINT [FK_CxcPagos_RegistradoPor]
GO
ALTER TABLE [dbo].[CxpDocumentoDetalles]  WITH CHECK ADD  CONSTRAINT [FK_CxpDocumentoDetalles_Consumo] FOREIGN KEY([ConsumoId])
REFERENCES [dbo].[Consumos] ([Id])
GO
ALTER TABLE [dbo].[CxpDocumentoDetalles] CHECK CONSTRAINT [FK_CxpDocumentoDetalles_Consumo]
GO
ALTER TABLE [dbo].[CxpDocumentoDetalles]  WITH CHECK ADD  CONSTRAINT [FK_CxpDocumentoDetalles_CxpDocumento] FOREIGN KEY([CxpDocumentoId])
REFERENCES [dbo].[CxpDocumentos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CxpDocumentoDetalles] CHECK CONSTRAINT [FK_CxpDocumentoDetalles_CxpDocumento]
GO
ALTER TABLE [dbo].[CxpDocumentos]  WITH CHECK ADD  CONSTRAINT [FK_CxpDocumentos_AnuladoPor] FOREIGN KEY([AnuladoPorUsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[CxpDocumentos] CHECK CONSTRAINT [FK_CxpDocumentos_AnuladoPor]
GO
ALTER TABLE [dbo].[CxpDocumentos]  WITH CHECK ADD  CONSTRAINT [FK_CxpDocumentos_CreadoPor] FOREIGN KEY([CreadoPorUsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[CxpDocumentos] CHECK CONSTRAINT [FK_CxpDocumentos_CreadoPor]
GO
ALTER TABLE [dbo].[CxpDocumentos]  WITH CHECK ADD  CONSTRAINT [FK_CxpDocumentos_Proveedor] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[CxpDocumentos] CHECK CONSTRAINT [FK_CxpDocumentos_Proveedor]
GO
ALTER TABLE [dbo].[CxpMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_CxpMovimientos_Proveedores_ProveedorId] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[CxpMovimientos] CHECK CONSTRAINT [FK_CxpMovimientos_Proveedores_ProveedorId]
GO
ALTER TABLE [dbo].[CxpMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_CxpMovimientos_Proveedores_ProveedorId1] FOREIGN KEY([ProveedorId1])
REFERENCES [dbo].[Proveedores] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CxpMovimientos] CHECK CONSTRAINT [FK_CxpMovimientos_Proveedores_ProveedorId1]
GO
ALTER TABLE [dbo].[CxpPagos]  WITH CHECK ADD  CONSTRAINT [FK_CxpPagos_AnuladoPor] FOREIGN KEY([AnuladoPorUsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[CxpPagos] CHECK CONSTRAINT [FK_CxpPagos_AnuladoPor]
GO
ALTER TABLE [dbo].[CxpPagos]  WITH CHECK ADD  CONSTRAINT [FK_CxpPagos_CxpDocumento] FOREIGN KEY([CxpDocumentoId])
REFERENCES [dbo].[CxpDocumentos] ([Id])
GO
ALTER TABLE [dbo].[CxpPagos] CHECK CONSTRAINT [FK_CxpPagos_CxpDocumento]
GO
ALTER TABLE [dbo].[CxpPagos]  WITH CHECK ADD  CONSTRAINT [FK_CxpPagos_RegistradoPor] FOREIGN KEY([RegistradoPorUsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[CxpPagos] CHECK CONSTRAINT [FK_CxpPagos_RegistradoPor]
GO
ALTER TABLE [dbo].[PagosProveedor]  WITH CHECK ADD  CONSTRAINT [FK_PagosProveedor_Proveedores_ProveedorId] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[PagosProveedor] CHECK CONSTRAINT [FK_PagosProveedor_Proveedores_ProveedorId]
GO
ALTER TABLE [dbo].[PagosProveedor]  WITH CHECK ADD  CONSTRAINT [FK_PagosProveedor_Proveedores_ProveedorId1] FOREIGN KEY([ProveedorId1])
REFERENCES [dbo].[Proveedores] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PagosProveedor] CHECK CONSTRAINT [FK_PagosProveedor_Proveedores_ProveedorId1]
GO
ALTER TABLE [dbo].[ProveedorAsignaciones]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorAsignaciones_proveedorCajas_CajaId] FOREIGN KEY([CajaId])
REFERENCES [dbo].[proveedorCajas] ([Id])
GO
ALTER TABLE [dbo].[ProveedorAsignaciones] CHECK CONSTRAINT [FK_ProveedorAsignaciones_proveedorCajas_CajaId]
GO
ALTER TABLE [dbo].[ProveedorAsignaciones]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorAsignaciones_Proveedores_ProveedorId] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProveedorAsignaciones] CHECK CONSTRAINT [FK_ProveedorAsignaciones_Proveedores_ProveedorId]
GO
ALTER TABLE [dbo].[ProveedorAsignaciones]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorAsignaciones_proveedorTiendas_TiendaId] FOREIGN KEY([TiendaId])
REFERENCES [dbo].[proveedorTiendas] ([Id])
GO
ALTER TABLE [dbo].[ProveedorAsignaciones] CHECK CONSTRAINT [FK_ProveedorAsignaciones_proveedorTiendas_TiendaId]
GO
ALTER TABLE [dbo].[ProveedorAsignaciones]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorAsignaciones_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[ProveedorAsignaciones] CHECK CONSTRAINT [FK_ProveedorAsignaciones_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[proveedorCajas]  WITH CHECK ADD  CONSTRAINT [FK_proveedorCajas_proveedorTiendas_TiendaId] FOREIGN KEY([TiendaId])
REFERENCES [dbo].[proveedorTiendas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[proveedorCajas] CHECK CONSTRAINT [FK_proveedorCajas_proveedorTiendas_TiendaId]
GO
ALTER TABLE [dbo].[proveedorTiendas]  WITH CHECK ADD  CONSTRAINT [FK_proveedorTiendas_Proveedores_ProveedorId] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[proveedorTiendas] CHECK CONSTRAINT [FK_proveedorTiendas_Proveedores_ProveedorId]
GO
ALTER TABLE [dbo].[RefinanciamientoDeudas]  WITH CHECK ADD  CONSTRAINT [FK_RefinanciamientoDeudas_CreadoPor] FOREIGN KEY([CreadoPorUsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[RefinanciamientoDeudas] CHECK CONSTRAINT [FK_RefinanciamientoDeudas_CreadoPor]
GO
ALTER TABLE [dbo].[RefinanciamientoDeudas]  WITH CHECK ADD  CONSTRAINT [FK_RefinanciamientoDeudas_CxcDocumento] FOREIGN KEY([CxcDocumentoId])
REFERENCES [dbo].[CxcDocumentos] ([Id])
GO
ALTER TABLE [dbo].[RefinanciamientoDeudas] CHECK CONSTRAINT [FK_RefinanciamientoDeudas_CxcDocumento]
GO
ALTER TABLE [dbo].[RefinanciamientoDeudas]  WITH CHECK ADD  CONSTRAINT [FK_RefinanciamientoDeudas_Empresa] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[RefinanciamientoDeudas] CHECK CONSTRAINT [FK_RefinanciamientoDeudas_Empresa]
GO
ALTER TABLE [dbo].[RefinanciamientoPagos]  WITH CHECK ADD  CONSTRAINT [FK_RefinanciamientoPagos_Refinanciamiento] FOREIGN KEY([RefinanciamientoId])
REFERENCES [dbo].[RefinanciamientoDeudas] ([Id])
GO
ALTER TABLE [dbo].[RefinanciamientoPagos] CHECK CONSTRAINT [FK_RefinanciamientoPagos_Refinanciamiento]
GO
ALTER TABLE [dbo].[RefinanciamientoPagos]  WITH CHECK ADD  CONSTRAINT [FK_RefinanciamientoPagos_RegistradoPor] FOREIGN KEY([RegistradoPorUsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[RefinanciamientoPagos] CHECK CONSTRAINT [FK_RefinanciamientoPagos_RegistradoPor]
GO
ALTER TABLE [dbo].[Refinanciamientos]  WITH CHECK ADD  CONSTRAINT [FK_Refinanciamientos_CreadoPor] FOREIGN KEY([CreadoPorUsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Refinanciamientos] CHECK CONSTRAINT [FK_Refinanciamientos_CreadoPor]
GO
ALTER TABLE [dbo].[Refinanciamientos]  WITH CHECK ADD  CONSTRAINT [FK_Refinanciamientos_Documento] FOREIGN KEY([CxcDocumentoId])
REFERENCES [dbo].[CxcDocumentos] ([Id])
GO
ALTER TABLE [dbo].[Refinanciamientos] CHECK CONSTRAINT [FK_Refinanciamientos_Documento]
GO
ALTER TABLE [dbo].[RolesPermisos]  WITH CHECK ADD  CONSTRAINT [FK_RolesPermisos_Permisos_PermisoId] FOREIGN KEY([PermisoId])
REFERENCES [dbo].[Permisos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolesPermisos] CHECK CONSTRAINT [FK_RolesPermisos_Permisos_PermisoId]
GO
ALTER TABLE [dbo].[RolesPermisos]  WITH CHECK ADD  CONSTRAINT [FK_RolesPermisos_Roles_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolesPermisos] CHECK CONSTRAINT [FK_RolesPermisos_Roles_RolId]
GO
ALTER TABLE [dbo].[UsuarioCliente]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioCliente_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioCliente] CHECK CONSTRAINT [FK_UsuarioCliente_Cliente]
GO
ALTER TABLE [dbo].[UsuarioCliente]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioCliente_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioCliente] CHECK CONSTRAINT [FK_UsuarioCliente_Usuario]
GO
ALTER TABLE [dbo].[UsuarioEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioEmpresa_Empresa] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[UsuarioEmpresa] CHECK CONSTRAINT [FK_UsuarioEmpresa_Empresa]
GO
ALTER TABLE [dbo].[UsuarioEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioEmpresa_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[UsuarioEmpresa] CHECK CONSTRAINT [FK_UsuarioEmpresa_Usuario]
GO
ALTER TABLE [dbo].[UsuarioProveedor]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioProveedor_Proveedores_RncProveedor] FOREIGN KEY([RncProveedor])
REFERENCES [dbo].[Proveedores] ([Rnc])
GO
ALTER TABLE [dbo].[UsuarioProveedor] CHECK CONSTRAINT [FK_UsuarioProveedor_Proveedores_RncProveedor]
GO
ALTER TABLE [dbo].[UsuarioProveedor]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioProveedor_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[UsuarioProveedor] CHECK CONSTRAINT [FK_UsuarioProveedor_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles_RolId]
GO
ALTER TABLE [dbo].[ConfiguracionCortes]  WITH CHECK ADD  CONSTRAINT [CK_ConfiguracionCortes_DiaCorte] CHECK  (([DiaCorte]>=(1) AND [DiaCorte]<=(28)))
GO
ALTER TABLE [dbo].[ConfiguracionCortes] CHECK CONSTRAINT [CK_ConfiguracionCortes_DiaCorte]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarDocumentosVencidos]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ActualizarDocumentosVencidos]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Hoy DATETIME2 = GETUTCDATE();
    
    -- Actualizar CxC vencidos (estado Pendiente o ParcialmentePagado)
    UPDATE CxcDocumentos
    SET Estado = 3 -- Vencido
    WHERE Estado IN (0, 1) -- Pendiente o ParcialmentePagado
      AND FechaVencimiento < @Hoy
      AND Refinanciado = 0;
    
    -- Actualizar CxP vencidos
    UPDATE CxpDocumentos
    SET Estado = 3 -- Vencido
    WHERE Estado IN (0, 1)
      AND FechaVencimiento < @Hoy
      AND Anulado = 0;
    
    -- Actualizar refinanciamientos vencidos
    UPDATE RefinanciamientoDeudas
    SET Estado = 3 -- Vencido
    WHERE Estado IN (0, 1)
      AND FechaVencimiento < @Hoy;
    
    PRINT 'Documentos vencidos actualizados: ' + CAST(@@ROWCOUNT AS NVARCHAR);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CierreAutomaticoCajas]    Script Date: 1/26/2026 8:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CierreAutomaticoCajas]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @FechaAyer DATE = DATEADD(DAY, -1, CAST(GETUTCDATE() AS DATE));
    DECLARE @Insertados INT = 0;
    
    -- Insertar cierres automáticos para usuarios que tuvieron consumos ayer
    -- pero no cerraron manualmente
    INSERT INTO CierresCaja (
        UsuarioId,
        ProveedorId,
        TiendaId,
        CajaId,
        FechaCierre,
        CerradoUtc,
        TotalConsumos,
        TotalReversos,
        MontoConsumos,
        MontoReversos,
        MontoNeto,
        TipoCierre,
        Observaciones
    )
    SELECT 
        c.UsuarioRegistradorId,
        c.ProveedorId,
        c.TiendaId,
        c.CajaId,
        @FechaAyer,
        GETUTCDATE(),
        COUNT(*),
        SUM(CASE WHEN c.Reversado = 1 THEN 1 ELSE 0 END),
        ISNULL(SUM(CASE WHEN c.Reversado = 0 THEN c.Monto ELSE 0 END), 0),
        ISNULL(SUM(CASE WHEN c.Reversado = 1 THEN c.Monto ELSE 0 END), 0),
        ISNULL(SUM(CASE WHEN c.Reversado = 0 THEN c.Monto ELSE 0 END), 0) - 
            ISNULL(SUM(CASE WHEN c.Reversado = 1 THEN c.Monto ELSE 0 END), 0),
        'AUTOMATICO',
        'Cierre automático del sistema - El usuario no realizó cierre manual'
    FROM Consumos c
    WHERE CAST(c.Fecha AS DATE) = @FechaAyer
      AND c.UsuarioRegistradorId IS NOT NULL
      AND c.CajaId IS NOT NULL
      -- Excluir usuarios que ya cerraron manualmente
      AND NOT EXISTS (
          SELECT 1 FROM CierresCaja cc 
          WHERE cc.UsuarioId = c.UsuarioRegistradorId 
            AND cc.CajaId = c.CajaId
            AND cc.FechaCierre = @FechaAyer
      )
    GROUP BY c.UsuarioRegistradorId, c.ProveedorId, c.TiendaId, c.CajaId;
    
    SET @Insertados = @@ROWCOUNT;
    
    PRINT 'Cierres automáticos insertados: ' + CAST(@Insertados AS VARCHAR(10));
    
    SELECT @Insertados AS CierresAutomaticos;
END
GO
